{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'main/css/main.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'main/images/logo.jpg' %}" type="image/x-icon"  />
</head>
<body>
{% block mainmenu %}
        <div class="header">
            <ul id="mainmenu" class="mainmenu">
                <li class="logo"><a href="{% url 'index' %}"><div class="logo"></div></a></li>
{% for i_elem in menu %}
            <li><a href="{% url i_elem.url_name %}">{{ i_elem.title}} </a></li>
{% endfor %}
                {% if request.user.is_authenticated %}
                <li class="last">{{ user.username }} | <a href="{% url 'logout' %}">выйти</a></li>
                {% else %}
                <li class="last"> <a href="{% url 'register' %}">регистрация</a> | <a href="{% url 'login' %}">войти</a></li>
                {% endif %}
            </ul>
            <div class="clear"></div>
        </div>
{% endblock mainmenu %}

{% block content %}
{% endblock content%}
</body>
</html>